<div class="card" >
    <div class="card-header">
    Passenger&nbsp;1</div>
    <div class="card-content" style="padding-top:20px;padding-bottom:20px;">


<div class="list inline-labels no-hairlines-md">
    <ul>

        <li class="item-content item-input">
            <div class="item-inner">
                 <div class="item-title item-label" style="width:46px;height:40px;background-color: #FFFFFF;border: auto;border-radius:3px;">
                      <i class="icon list-icon-FlightBookingSeat_ticket_no"></i>
                </div>
                <div class="item-input-wrap">
                    <input style="padding-left:30px;" type="text" class="FlightBookingSeat_ticket_no" placeholder="(Auto Generate)" value="{{data.ticket_no}}" disabled="disabled" />
                </div>
            </div>
        </li>

        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label" style="width:46px;height:40px;background-color: #FFFFFF;border: auto;border-radius:3px;">
                      <i class="icon list-icon-FlightBookingSeat_name"></i>
                </div>
                <div class="item-input-wrap">
                    <input style="padding-left:30px;" type="text" placeholder="$FlightBookingSeat.passenger_name" class="FlightBookingSeat_passenger_name" name="FlightBookingSeat[passenger_name]" value="{{data.passenger_name}}" required validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>

        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label" style="width:46px;height:40px;background-color: #FFFFFF;border: auto;border-radius:3px;">
                      <i class="icon list-icon-FlightBookingSeat_passport_no"></i>
                </div>
                <div class="item-input-wrap">
                    <input style="padding-left:30px;" type="text" placeholder="$FlightBookingSeat.passport_no" class="FlightBookingSeat_passport_no" name="FlightBookingSeat[passport_no]" value="{{data.passport_no}}" validate/>
                    <span class="input-clear-button"></span>

                </div>
            </div>
        </li>

        <li class="item-content item-input">
            <div class="item-inner">
                 <div class="item-title item-label" style="width:46px;height:40px;background-color: #FFFFFF;border: auto;border-radius:3px;">
                      <i class="icon list-icon-FlightBookingSeat_age"></i>
                </div>
                <div class="item-input-wrap">
                    <input style="padding-left:30px;" type="number" pattern="[0-9]*" inputmode="numeric" placeholder="$FlightBookingSeat.age" class="FlightBookingSeat_age" name="FlightBookingSeat[age]" value="{{data.age}}" required validate />
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>
        
        <!--
        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$FlightBookingSeat.seat_no</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$FlightBookingSeat.seat_no" class="FlightBookingSeat_seat_no" name="FlightBookingSeat[seat_no]" value="{{data.seat_no}}" required validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>
        -->
        
         <li class="item-content item-input">
            <div class="item-inner">
                 <div class="item-title item-label" style="width:46px;height:40px;background-color: #FFFFFF;border: auto;border-radius:3px;">
                      <i class="icon list-icon-FlightBookingSeat_seat_no"></i>
                </div>
                <div class="item-input-wrap">
                    <a class="item-link item-content FlightBookingSeat_seat_no" href="#" >
                        <input type="hidden" name="FlightBookingSeat[seat_no]">
                        <div class="item-inner" style="text-align:left;">
                          <div class="item-after" style="padding-left:15px;text-align:left;width:100%;">Select Seat No.</div>
                        </div>
                    </a>
                </div>
            </div>
        </li>


    </ul>
    <input type="hidden" name="FlightBookingSeat[flight_booking_id]" value="{{data.flight_booking_id}}" class="FlightBookingSeat_flight_booking_id">
    <input type="hidden" name="FlightBookingSeat[id]" value="{{data.id}}" />
    <input type="hidden" name="FlightBookingSeat[updated_at_long]" value="{{data.updated_at_long}}" />
</div>


</div>
</div>