        <div class="page no-toolbar no-swipeback" id="FlightBookingSeatNewPage" style="background-color: #E3E7F2 !important;">
            <div class="navbar" style="background-color: #3F4678 !important;">
                <div class="navbar-inner sliding">
                    <div class="left">
                            <a href="#" class="link back back_flight_booking_seat">
                      <i class="icon icon-back"></i>
                      <span class="ios-only">Back</span>
                    </a>
                    </div>
                                 <div class="title">
                    <img src="public/www/images/hkair.png" style="height:32px;" />
                </div>
                </div>
            </div>
            <div class="page-content">
              <form class="list">
              #parse('www/FlightBookingSeat/_form.tpl.html')
              </form>
              <div class="block">
                    <p class="row">
                       <button style="height:60px;" class="button col color-demo-button button button-raised button-fill save">Save</button>
                    </p>
              </div> 
            </div>
        </div>