    
<div class="block-title">Form</div>
<div class="list inline-labels no-hairlines-md">
    <ul>

                                                                                        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.to_list</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.to_list" class="EmailSchedule_to_list" name="EmailSchedule[to_list]" value="{{data.to_list}}"  required validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>                    


 


 
        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.cc_list</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.cc_list" class="EmailSchedule_cc_list" name="EmailSchedule[cc_list]" value="{{data.cc_list}}"  validate/>
                    <span class="input-clear-button"></span>
                    
                </div>
            </div>
        </li>                    


 


 
        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.bcc_list</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.bcc_list" class="EmailSchedule_bcc_list" name="EmailSchedule[bcc_list]" value="{{data.bcc_list}}"  validate/>
                    <span class="input-clear-button"></span>
                    
                </div>
            </div>
        </li>                    


 


 
                                                                                        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.subject</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.subject" class="EmailSchedule_subject" name="EmailSchedule[subject]" value="{{data.subject}}"  required validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>                    


 


 
                                                                                        
        



        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.message</div>
                <div class="item-input-wrap">
                    <textarea class="resizable EmailSchedule_message" name="EmailSchedule[message]"  required validate>
                        {{data.message}}
                    </textarea>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>
 


 
        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.response_msg</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.response_msg" class="EmailSchedule_response_msg" name="EmailSchedule[response_msg]" value="{{data.response_msg}}"  validate/>
                    <span class="input-clear-button"></span>
                    
                </div>
            </div>
        </li>                    


 


 
        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.status</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.status" class="EmailSchedule_status" name="EmailSchedule[status]" value="{{data.status}}"  validate/>
                    <span class="input-clear-button"></span>
                    
                </div>
            </div>
        </li>                    


 


 
        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.action</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.action" class="EmailSchedule_action" name="EmailSchedule[action]" value="{{data.action}}"  validate/>
                    <span class="input-clear-button"></span>
                    
                </div>
            </div>
        </li>                    


 


 
        
        



    <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.response_code</div>
                <div class="item-input-wrap">
                    <input type="number" pattern="[0-9]*" inputmode="numeric" placeholder="$EmailSchedule.response_code" class="EmailSchedule_response_code" name="EmailSchedule[response_code]" value="{{data.response_code}}"  validate />
                       
                </div>
            </div>
    </li>  
 


 
                                                                                        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.process_host</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$EmailSchedule.process_host" class="EmailSchedule_process_host" name="EmailSchedule[process_host]" value="{{data.process_host}}"  required validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>                    


 


 
        
        


         <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$EmailSchedule.user_id</div>
                <div class="item-input-wrap">
                    <a class="item-link item-content EmailSchedule_user_id" href="#" >
                        <input type="hidden" name="EmailSchedule[user_id]">
                        <div class="item-inner">
                          <div class="item-after"></div>
                        </div>
                    </a>
                </div>
            </div>
        </li>

        
        




 


     </ul>
    <input type="hidden" name="EmailSchedule[id]" value="{{data.id}}" />
    <input type="hidden" name="EmailSchedule[updated_at_long]" value="{{data.updated_at_long}}" />
</div>                    
