    
<div class="block-title">Form</div>
<div class="list inline-labels no-hairlines-md">
    <ul>

        
        


         <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$User.role_id</div>
                <div class="item-input-wrap">
                    <a class="item-link item-content User_role_id" href="#" >
                        <input type="hidden" name="User[role_id]">
                        <div class="item-inner">
                          <div class="item-after"></div>
                        </div>
                    </a>
                </div>
            </div>
        </li>

        
        


         <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$User.member_id</div>
                <div class="item-input-wrap">
                    <a class="item-link item-content User_member_id" href="#" >
                        <input type="hidden" name="User[member_id]">
                        <div class="item-inner">
                          <div class="item-after"></div>
                        </div>
                    </a>
                </div>
            </div>
        </li>

                                                                                                                                                                                                                                                                                                                            
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$User.username</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$User.username" class="User_username" name="User[username]" value="{{data.username}}"  required minlength=4 maxlength=10 pattern='[\\w]{4,20}$' validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>                    


 


 
                                                                                                                                                                                                                                                                                                                            
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$User.email</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$User.email" class="User_email" name="User[email]" value="{{data.email}}"  required minlength=5 maxlength=50 pattern='^(([^<>()\\[\\]\\\\.,;:\\s@"]+(\\.[^<>()\\[\\]\\\\.,;:\\s@"]+)*)|(".+"))@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$' validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>                    


 


 
                                                                                        
        



        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$User.sign_in_password</div>
                <div class="item-input-wrap">
                     <input type="password" class="User_sign_in_password" name="User[sign_in_password]" placeholder="$User.sign_in_password" value="{{data.sign_in_password}}"  required validate/>
                     <div class='item-input-info'></div>
                </div>
            </div>
        </li>
 


 
        
        





 


 
        
        



    <li class="item-content item-input">
        <div class="item-inner">
            <div class="item-title item-label">$User.active</div>
            <div class="item-input-wrap">
          <label class="toggle">
            <input type="checkbox" name="User[active]" class="User_active" {{${Escape.h}if data.active}}checked{{/if}} />
            <span class="toggle-icon"></span>
          </label>
            </div>
        </div>
    </li>          
 


     </ul>
    <input type="hidden" name="User[id]" value="{{data.id}}" />
    <input type="hidden" name="User[updated_at_long]" value="{{data.updated_at_long}}" />
</div>                    
