    
<div class="block-title">Form</div>
<div class="list inline-labels no-hairlines-md">
    <ul>

                                                                                        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$Airport.code</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$Airport.code" class="Airport_code" name="Airport[code]" value="{{data.code}}"  required validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>                    


 


 
                                                                                        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$Airport.name</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$Airport.name" class="Airport_name" name="Airport[name]" value="{{data.name}}"  required validate/>
                    <span class="input-clear-button"></span>
                    <div class='item-input-info'></div>
                </div>
            </div>
        </li>                    


 


 
        
        




        <li class="item-content item-input">
            <div class="item-inner">
                <div class="item-title item-label">$Airport.search_keywords</div>
                <div class="item-input-wrap">
                    <input type="text" placeholder="$Airport.search_keywords" class="Airport_search_keywords" name="Airport[search_keywords]" value="{{data.search_keywords}}"  validate/>
                    <span class="input-clear-button"></span>
                    
                </div>
            </div>
        </li>                    


 


     </ul>
    <input type="hidden" name="Airport[id]" value="{{data.id}}" />
    <input type="hidden" name="Airport[updated_at_long]" value="{{data.updated_at_long}}" />
</div>                    
