        <div class="page no-toolbar no-swipeback" id="JobNewPage">
            <div class="navbar">
                <div class="navbar-inner sliding">
                    <div class="left">
                            <a href="#" class="link back back_job">
                      <i class="icon icon-back"></i>
                      <span class="ios-only">Back</span>
                    </a>
                    </div>
                    <div class="title">$Job</div>
                </div>
            </div>
            <div class="page-content">
              <form class="list">
              #parse('www/Job/_form.tpl.html')
              </form>
              <div class="block">
                    <p class="row">
                        <button class="button col color-green button-fill button-large save">Save</button>
                    </p>
              </div> 
            </div>
        </div>