            
<div class="panel panel-left panel-cover theme-dark">
    <div class="view">
        <div class="page">
            <div class="page-content">
                <div class="block">
                    <h1>Menu</h1>
                                                            <p><a href="/view_email_schedule/" class="panel-close">Email Schedule</a></p>
                                                                                <p><a href="/view_job_process/" class="panel-close">Job Process</a></p>
                                                                                <p><a href="/view_member/" class="panel-close">Member</a></p>
                                                                                <p><a href="/view_event_schedule/" class="panel-close">Event Schedule</a></p>
                                                                                <p><a href="/view_flight_booking_seat/" class="panel-close">Flight Booking Seat</a></p>
                                                                                <p><a href="/view_role_permission/" class="panel-close">Role Permission</a></p>
                                                                                <p><a href="/view_user/" class="panel-close">User</a></p>
                                                                                <p><a href="/view_security_code/" class="panel-close">Security Code</a></p>
                                                                                <p><a href="/view_sequence/" class="panel-close">Sequence</a></p>
                                                                                                                        <p><a href="/view_role/" class="panel-close">Role</a></p>
                                                                                <p><a href="/view_job/" class="panel-close">Job</a></p>
                                                                                <p><a href="/view_airport/" class="panel-close">Airport</a></p>
                                                                                <p><a href="/view_flight_booking/" class="panel-close">Flight Booking</a></p>
                                                            <p><a class="panel-close" href="/about/">About</a></p>
                </div>
            </div>
        </div>
    </div>
</div>