<div class="toolbar tabbar-labels toolbar-bottom-md hide-toolbar-on-scroll color-theme-black">
    <div class="toolbar-inner">
                                     <a href="#FlightInfoView" class="tab-link tab-link-active tab-link-FlightInfo">
            <i class="icon f7-icons ios-only">home</i>
            <i class="icon f7-icons ios-only icon-ios-fill">home_fill</i>
            <i class="icon material-icons md-only">home</i>
            <span class="tabbar-label">Home</span>
         </a>
                  
                      
    </div>
</div>