            

<div id="RoleView" class="view tab current-screen-view">

    <div class="page" id="RoleViewPage">
        <div class="navbar hide-navbar-on-scroll">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                          <i class="icon f7-icons ios-only">menu</i>
                          <i class="icon material-icons md-only">menu</i>
                    </a>
                </div>
                <div class="title sliding">$Role</div>
                <div class="subnavbar">
                    <!-- Searchbar with auto init -->
                    <form class="searchbar">
                        <div class="searchbar-inner">
                            <div class="searchbar-input-wrap">
                                <input type="search" placeholder="Search">
                                <i class="searchbar-icon"></i>
                                <span class="input-clear-button"></span>
                            </div>
                            <span class="searchbar-disable-button">Cancel</span>
                        </div>
                    </form>
                </div>                
                <div class="right">
                   <a class="link icon-only" href="/new_role/" >
                      <i class="icon f7-icons ios-only">add</i>
                      <i class="icon material-icons md-only">add</i>
                   </a>
                </div>
            </div>
        </div>

        <div class="page-content ptr-content hide-toolbar-on-scroll hide-navbar-on-scroll infinite-scroll-content">
            <div class="ptr-preloader">
                <div class="preloader"></div>
                <div class="ptr-arrow"></div>
            </div>
          <div class="list searchbar-found">
             <ul></ul>
          </div>
          <div class='preloader infinite-scroll-preloader'></div>
          <div class="block searchbar-not-found">
              <div class="block-inner">Nothing found</div>
          </div>          
        </div>
    </div>
    
</div>

<div class="popup popup-tablet-fullscreen" id="RoleHasPopup">
    <div class="view popup-view current-screen-view" id="RoleHasView">
        <div class="page" id="RoleHasViewPage">
            <div class="navbar hide-navbar-on-scroll">
                <div class="navbar-inner sliding">
                   <div class="left">
                        <a href="#" class="link popup-close" data-popup="#RoleHasPopup">
                           <i class="icon f7-icons ios-only">close</i>
                           <i class="icon material-icons md-only">close</i>
                        </a>
                   </div>
                    <div class="title">$Role</div>
                    <div class="subnavbar">
                        <!-- Searchbar with auto init -->
                        <form class="searchbar">
                            <div class="searchbar-inner">
                                <div class="searchbar-input-wrap">
                                    <input type="search" placeholder="Search">
                                    <i class="searchbar-icon"></i>
                                    <span class="input-clear-button"></span>
                                </div>
                                <span class="searchbar-disable-button">Cancel</span>
                            </div>
                        </form>
                    </div>                      
                    <div class="right">
                        <a href="/new_role/" class="link">
                   <i class="icon f7-icons ios-only">add</i>
                   <i class="icon material-icons md-only">add</i>
                </a>
                    </div>
                </div>
            </div>
            <div class="page-content ptr-content hide-toolbar-on-scroll hide-navbar-on-scroll infinite-scroll-content">
              <div class="ptr-preloader">
                <div class="preloader"></div>
                <div class="ptr-arrow"></div>
              </div>
              <div class="list searchbar-found">
                  <ul></ul>
              </div>
              <div class='preloader infinite-scroll-preloader'></div>
              <div class="block searchbar-not-found">
                  <div class="block-inner">Nothing found</div>
              </div>
            </div>
        </div>
    </div>
</div>

 <div class="popover Role_popover-links">
    <div class="popover-inner">
      <div class="list">
        <ul>
          <li><a class="list-button item-link view_has_user popover-close" href="#">$User</a></li>
          <li><a class="list-button item-link view_has_role_permission popover-close" href="#">$RolePermission</a></li>
        </ul>
      </div>
    </div>
 </div>
